---
import { SITE_CONSTANTS } from "@/constants/site.constant";
import DesktopNav from "./navigation/desktop/DesktopNav.astro";
import { WhatsAppCTA } from "@/components/buttons/WhatsAppCTA";
import { MobileNav } from "./navigation/mobile/MobileNav";

const currentPath = Astro.url.pathname;
---

<header class="border-b border-border bg-card sticky top-0 z-30">
  <div class="mx-auto flex max-w-6xl items-center justify-between px-4 py-3">
    <a href="/" class="font-semibold tracking-wide text-balance">
      {SITE_CONSTANTS.SITENAME}
    </a>

    <section class="hidden md:flex items-center gap-6">
      <DesktopNav />

      <WhatsAppCTA />
    </section>

    <MobileNav client:load currentPath={currentPath} />
  </div>
</header>
