---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;

const currentPath = Astro.url.pathname;

const isActive = currentPath === href;
---

<a
  href={href}
  aria-current={isActive ? "page" : undefined}
  class={`pb-1 text-sm border-b-2 animate ${isActive ? "font-medium text-primary border-primary" : "hover:border-primary text-muted-foreground hover:text-primary border-transparent"}`}
>
  {label}
</a>
