---
import { Button } from "@/components/ui/button";
import ProductCard from "./cards/ProductCard.astro";
import { readProductByCategoryService } from "../services/readProductByCategory";
import { env } from "@/config/env";

const data = await readProductByCategoryService();
---

<section class="space-y-6">
  <div class="flex items-center justify-between">
    <h2 class="text-2xl font-semibold md:text-3xl">
      Karya Terbaik per Kategori
    </h2>
    <a href="/products">
      <Button
        variant="outline"
        className="border-primary text-primary bg-transparent"
      >
        Lihat Semua Produk
      </Button>
    </a>
  </div>
  <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3">
    {
      data.map((product) => (
        <ProductCard
          name={product.category}
          imageUrl={`${env.API_BASE_URL}${product.product.image.formats.medium.url}`}
        />
      ))
    }
  </div>
</section>
