---
import "../styles/global.css";
import MainLayout from "@/layouts/MainLayout.astro";
import Seo from "@/layouts/Seo.astro";
import { SITE_CONSTANTS } from "@/constants/site.constant";
import ProductHeadline from "@/features/products/components/ProductHeadline.astro";
import { ProductFilterSection } from "@/features/products/components/filter/FilterSection";

const schema = {
  "@context": "https://schema.org",
  "@type": "Organization",
  name: SITE_CONSTANTS.SITENAME,
  url: SITE_CONSTANTS.URL,
  logo: SITE_CONSTANTS.IMAGE,
  creator: {
    "@type": "Person",
    name: SITE_CONSTANTS.SITENAME,
    jobTitle: "Fashion & Clothing",
  },
};
---

<MainLayout>
  <!-- TODO: Change description -->
  <Seo
    slot="head"
    title="Katalog Produk"
    description="Citra Anugerah"
    type="product"
    schema={schema}
  />
  <div class="space-y-6">
    <ProductHeadline />
    <ProductFilterSection client:load />
  </div>
</MainLayout>
